.jumbotron {
  size: 100px;
  background-image: url("news.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: absolute;
  text-align: center;
  font-size: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1.5);
}

.title {
  text-align: center;
  color: whitesmoke;
}
.solgan {
  text-align: center;
  color: whitesmoke;
  font-size: 20px;
}
body { 
  background-color: rgb(207, 228, 25);
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
  font-family: 'Ranga', cursive;
  font-size: 20px;
  background-color: whitesmoke;
  border: 5px;
}
#notes {
  float: right;
  color: whitesmoke;
  font-size: 15px;
  width: 30%;
  background-color:navy;
  font-family: 'Ranga', cursive;
  border: 10px black;
}
textarea, input {
  display: block;
  width: 100%;
  background-color:yellow;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}